<!doctype html>
<html data-replace>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Loading 🚲¦</title>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        padding: 32px;
      }
    </style>
  </head>
  <body>
    <p>Loading 🚲</p>

    <script type="template" id="page-template" data-root="html">
      <head>
        <title><%= title %></title>
        <style>
          body {
            font-family: Helvetica, sans-serif;
            padding: 32px;
          }
        </style>
      </head>
      <body>
        <% if (headerImage) { %>
          <img src="<%= headerImage %>">
        <% } %>

        <h3><%= title %></h3>
        <p style="color: #CCCCCC; margin-top: -1em">by <%= author %></p>
        <p><%= description %></p>

        <ul>
          <% for (i = 0; i < links.length; i++) { link = links[i] %>
            <li>
              <a href="<%= link.url %>"><%= link.title %></a>
              by
              <a href="<%= link.author_url %>"><%= link.author %></a>
            </li>
          <% } %>
        </ul>
      </body>
    </script>

    <script src="http://puthtml.com/johnholdun/underscore.js"></script>
    <script src="http://puthtml.com/johnholdun/template.js"></script>
    <script>
      renderData("best-business-ideas-1.json", "#page-template", "html");
    </script>
  </body>
</html>

